

</body>
<footer>
  <div class="footer-padding"></div>
<div class="footer" id="copyright">
<script>
  const paragraph = `<p>Made with ❤️ by (Copyright &copy; ${new Date().getFullYear()}) Burcut Dragos.</p>`;
  document.getElementById('copyright').innerHTML = paragraph;
</script>
</div>
</footer>
</html>
